@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#full-name {
  font-size: 4rem;
  font-weight: 700;
}

@media screen and (max-width: 320px) {
  #full-name {
    font-size: 2rem;
    font-weight: 700;
  }
}
@media screen and (max-width: 640px) {
  #full-name {
    font-size: 2.5rem;
    font-weight: 700;
  }
}

@media screen and (max-width: 768px) {
  #full-name {
    font-size: 3rem;
    font-weight: 700;
  }
}
@media screen and (max-width: 1024px) {
  #full-name {
    font-size: 2.5rem;
  }
}

ul li::marker {
  font-size: 1rem;
  color: white;
  margin-right: 5px;
}

li::before {
  content: " ";
  margin-inline-end: 1ch;
}

ul {
  list-style-type: "◼︎";
  padding-left: 20px;
  padding-right: 30px;
}
